h1 {
	color: skyblue;
	text-align: center;
	font-family: ayuthaya;}


.IMG {
	margin-top: 50px;
	margin-bottom: 50px;
}
.nav {
	margin-top: 20px;
	height: 40px;
	background: #a7e0ee;
}
.nav ul {
	margin: 0px;
	padding:0px;
}
.nav ul li {
	list-style: none;
}

.nav ul li a {
	text-decoration: none;
	float:left;
	display: block;
	padding: 10px 60px;
	color: black;
}
.nav ul li a:hover {
	color: white;

}

}
p {
      font-size: 20px;
      font-family: Arial;
      color: white;
    }

h2 {
	color: white;
	text-align: left;
	font-family: Arial;
	font-size: 20px;
}
body {
	background-image: url(IMG_8717.JPG);
	opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}


}
.container-fluid {
  border: 5px gray ;
  background-color: white;
}

.button {
	font-weight: bold;
	line-height: 50px;
	color: skyblue;
	background: gray;
	width: 200px;
	box-shadow: 1px 1px 5px rgba(0,0,0,.5),
				6px 0px 0px 1px rgba(0,0,0,.4);
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}
.button:hover{
	background: #333;
	color: #e3e3e3
}

    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
    input[type="submit"] {
      background: red;
      color: white;
    }
  </style>


  <style type="text/css">
  .mainsection {color:skyblue; 
  	text-align:center}
